<div class="home-container">
  <header class="header">
    <h1>Welcome to Actly!</h1>
    <div class="auth-buttons">
      <button routerLink="/login" *ngIf="!isLoggedIn">Log In</button>
      <button routerLink="/register" *ngIf="!isLoggedIn">Register</button>
      <button routerLink="/volunteer-profile" *ngIf="isLoggedIn && userRole === 'Volunteer'">Your Profile</button>
      <button routerLink="/organizer-profile" *ngIf="isLoggedIn && userRole === 'Organizer'">Organizer Profile</button>
      <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
    </div>
    <router-outlet></router-outlet>
  </header>

  <div *ngIf="loading">Loading events...</div>

  <div class="event-list" *ngIf="!loading && events.length">
    <app-event-card *ngFor="let event of events" [event]="event"></app-event-card>
  </div>

  <div *ngIf="!loading && !events.length">
    <p>No events available right now.</p>
  </div>
</div>
